<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>{{ error }}</h1>
    <form action="/questionary" method="get">
        <input type="submit" name="" value="Go Back">
    </form>
    <form action="/main" method="get">
        <input type="submit" name="" value="Go to Main Page>
    </form>
</body>
</html>